<!DOCTYPE html>
<html lang="it">

  <head>
    <!-- Meta tags richiesti -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->

    <!-- Bootstrap per dropdown (NON FUNZIONA UGUALMENTE)-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <!-- Icona pagina del browser-->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/logo.png">

    <!-- Javascript opzionale -->
    <script defer src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>  
    <!-- COMMENTATO PER FAR FUNZIONARE I MODALS, SE LO SBLOCCO NON VANNO -->
    <!--  <script type="text/javascript" defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!-- <script type="text/javascript" defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script> -->
    
    <!-- dayjs -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

    <!-- CSS -->
    <% if (typeof styles !=="undefined") { %>
      <% styles.forEach((style)=> { %>
          <link href="<%= style %>" rel="stylesheet" type="text/css">
      <% }); %>
    <% } %>

    <!-- Javascript [scripts] -->
    <% if (typeof scripts !== "undefined") { %>
      <% scripts.forEach((script) => { %>
          <script defer src="<%= script %>" type="text/javascript"></script>
      <% }); %>
    <% } %>

    <!--
    <title>
      < %= title ? `RoadToSushi - ${title}` : 'RoadToSushi' %> --> <!-- backTic copypasta; ho aggiunto spazio davanti--> <!--
    </title>
    -->
    <title>RoadToSushi</title>

  </head>