
<!--
    https://studio.tailorbrands.com/   Logo
    https://www.remove.bg/             Rimuovi sfondo dalle immagini
-->

<%- include('partials/head') -%>
<%- include('partials/navbar', { active: "home" }); -%>

  <body>

    <h3 class="spaziaturaTitolo" id="fond"> <strong> Road To Sushi </strong></h3>
    
    <!-- DA SISTEMARE, TUTTO A SX (per il momento / se non sistemo tolgo) -->
    <!--
    < % if (message.length > 0) { %>
			<div class="alert alert-warning alert-dismissible fade show alertResizing" align="center" role="alert">
				<p>
					<%= message %>
				</p>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		< % } %>
    -->

    <center><p id="titoletto"><strong>&quot;</strong><cite title="Source Title">Il sushi più buono che c'è!</cite><strong>&quot;</strong> </p></center>
    
    <main> 
      <!-- Vedi sito https://www.html.it/articoli/un-menu-slider-con-immagini-e-css3/ -->
           <div class="spaziaturaTitolo" id="container">
            <ul>
             <li id="pannello-1">
              <div class="titolo">
              <h2 class="block">CHI SIAMO</h2>
              </div>
              <div class="contenuto">
              <p class="testo">RoadToSushi è un ristorante di sushi nato con un formato take-away
                   per la situazione pandemica che ci circonda
              </p>
              </div>
             </li>
             <li id="pannello-2">
              <div class="titolo">
              <h2 class="block">COSA FACCIAMO</h2>
              </div>
              <div class="contenuto">
              <p class="testo">Non solo sushi, abbiamo anche piatti caldi di carne e vegetariani</p>
              </div>
             </li>
             <li id="pannello-3">
              <div class="titolo">
              <h2 class="block">DOVE OPERIAMO</h2>
              </div>
              <div class="contenuto">
              <p class="testo">Offriamo il nostro servizio a in centro a Novara(NO)</p>
              </div>
             </li>
             <li id="pannello-4">
              <div class="titolo">
              <h2 class="block">ORARI ORDINI</h2>
              </div>
              <div class="contenuto">
              <p class="testo">Tutti i giorni con orario PRANZO: 12:00-15:00 CENA: 19:00-22:00</p>
              </div>
             </li>
             <li id="pannello-5">
              <div class="titolo">
              <h2 class="block">PRODOTTI</h2>
              </div>
              <div class="contenuto">
              <p class="testo">Utilizziamo solo prodotti sostenibili e di alta qualità per esaudire al meglio le vostre richieste</p>
              </div>
             </li>
            </ul>
          </div>

           <!-- CAROUSEL -->
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="card-group">
                  <div class="card">
                    <img src="/images/almond.jpg" class="card-img-top" height="300">
                    <div class="card-body">
                      <h5 class="card-title">Almond</h5>
                      <p class="card-text">Tartare di salmone, avocado, philadelphia, scaglie di mandorla esterne, salsa teriyaki</p>
                      <p class="card-text"><small class="text-muted">5€</small></p>
                    </div>
                  </div>
                  <div class="card">
                    <img src="/images/spicycrunchtuna.jpg" class="card-img-top" height="300">
                    <div class="card-body">
                      <h5 class="card-title">Spicy Crunch Tuna</h5>
                      <p class="card-text">Tartare di tonno, philadelphia, avocado, salsa teriyaki, salsa spicy, crunch</p>
                      <p class="card-text"><small class="text-muted">5€</small></p>
                    </div>
                  </div>
                  <div class="card">
                      <img src="/images/mexico.jpg" class="card-img-top" height="300">
                    <div class="card-body">
                      <h5 class="card-title">Mexico</h5>
                      <p class="card-text">Tartare di salmone, philadelphia, jalapeño, nachos</p>
                      <p class="card-text"><small class="text-muted">8€</small></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card-group">
                  <div class="card">
                    <img src="/images/udon.jpg" class="card-img-top" height="300">
                    <div class="card-body">
                      <h5 class="card-title">Udon</h5>
                      <p class="card-text">Spaghettoni di grano duro con uova, gamberi, julienne di verdure e polpa di granchio</p>
                      <p class="card-text"><small class="text-muted">10€</small></p>
                    </div>
                  </div>
                  <div class="card">
                    <img src="/images/yakitoririce.jpg" class="card-img-top" height="300">
                    <div class="card-body">
                      <h5 class="card-title">Yakitori Rice</h5>
                      <p class="card-text">Riso al salto con pollo, uova e julienne di verdure</p>
                      <p class="card-text"><small class="text-muted">10€</small></p>
                    </div>
                  </div>
                  <div class="card">
                    <img src="/images/misosoup.jpg" class="card-img-top" height="300">
                    <div class="card-body">
                      <h5 class="card-title">Miso Soup</h5>
                      <p class="card-text">Tofu, miso, zenzero, carote, daikon, alghe wakame, acqua</p>
                      <p class="card-text"><small class="text-muted">8€</small></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          <div class="container">
            <br>
            <br>
            <br>
            <!-- Covid card -->
            <div class="card" id="covid-card">
              <h5 class="card-header" id="covid19">Covid-19</h5>
              <div class="card-body">
                <h5 class="card-title">Informazioni relative al comportamento</h5>
                <p class="card-text"> L'ingresso al locale è consentito solo a chi indossa la mascherina. Si prega di rispettare la distanza di sicurezza ed evitare assembramenti.
                  Ringraziamo la clientela per la collaborazione.<br>Leggi il
                  regolamento per saperne di più.</p>
                <a href="https://www.alimenti-salute.it/sites/default/files/Procedura%20SIAL%20Food%20Delivery%20Ristorazione%20Covid19.pdf" target="_blank" class="btn" id="regolamento">Regolamento</a>
              </div>
            </div>
          </div>
          
      </main>
      
      <br>

<%- include('partials/footer'); -%>