<!doctype html>
<html lang="it">
  <head>
    <!-- Meta tags richiesti -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- Bootstrap & CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
     <link href="/stylesheets/custom.css" rel="stylesheet">

	<!-- Icona pagina del browser-->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/logo.png">

    <!-- Navfoot-->
    <script defer src="/javascripts/navbarfootbar.js"></script>
	
	<!-- Javascript opzionale -->
    <script defer src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>  
    <script type="text/javascript" defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>   
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.min.js"></script>
    
    <!-- Mio javascript -->
	<script type="text/javascript" defer src="/javascripts/richiedimodals.js"></script>
    <script type="text/javascript" defer src="/javascripts/orario_negozio.js"></script>

    <!-- Per la validazione del form -->
	<script defer src="../routes/form_validazione.js"></script>
	
    <title>RoadToSushi - Login</title>
  </head>

  <body class="corpo">

    <nav class="navbar navbar-expand-xl navbar-dark bg-dark fixed-top menu_normale" id="menu_uniforme"></nav>

  <!-- CONTENUTO PRINCIPALE -->
	<main>
		<h3 class="hspace_mc">&nbsp;</h3>

		<!-- REGISTRAZIONE DI UN UTENTE (cliente) -->
		<h3 class="hspace h_btm_spec"><cite title="Source Title"> Effettua il login </cite></h3>
		<h6 id="errore_msg"></h6> <!--js (form_valida.js)-->
		<div class="container">

			<div class="row">

                <!-- COMMENTO DA MODIFICARE --> 
				<form encType="multipart/form-data" class="row g-3 needs-validation" action="http://localhost:3002/loguser" method="post" novalidate>
						
                    <!-- EMAIL -->
					<div class="col-md-4">
						<label for="email" class="form-label">Email*</label>
						<input type="email" id="email" name="email" class="form-control" required>
						<div class="valid-feedback">
						    OK
						</div>
						<div class="invalid-feedback">
						    Devi fornire un indirizzo e-mail valido.
						</div>
					</div>
					
                    <!--
					<div class="col-md-4">
						<label for="email" class="form-label" hidden>Email*</label>
						<input type="email" id="email" name="email" class="form-control" hidden>
					</div>
                    -->

					<!-- PASSWORD -->
					<div class="col-md-4">
						<label for="pass" class="form-label">Password*</label>
						<input type="password" id="password" name="password" class="form-control" required>
						<div class="valid-feedback">
						    Perfetto!
						</div>
						<div class="invalid-feedback">
						    Devi fornire la password collegata al tuo account.
						</div>
						</div>
						
					<div class="col-12">
						<button class="btn btn-lg accedi_btn">Accedi</button>
					</div>
				</form>
			</div>

		</div>
        <!-- UTILE? -->
		<h3 class="hspace_mc_btm">&nbsp;</h3>
	</main>  

    <footer class="footer bg-dark text-center text-white" id="foot">
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    </body>

	<div id="modals_uniformi">
		<!-- js -->
	</div>
  
</html>