<%- include('partials/head', { active: "home" }); -%>
<%- include('partials/navbar'); -%>

  <body class="corpo">

    <nav class="navbar navbar-expand-xl navbar-dark bg-dark fixed-top menu_normale" id="menu_uniforme"></nav>

  <!-- CONTENUTO PRINCIPALE -->
	<main>

		<h3 class="hspace_mc">&nbsp;</h3>

		<% if (message.length > 0) { %>
			<div class="alert alert-primary" role="alert">
				<p>
					<%= message %>
				</p>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		<% } %>

		<!-- REGISTRAZIONE DI UN UTENTE (cliente) -->
		<h3 class="hspace h_btm_spec"><cite title="Source Title"> Effettua il login </cite></h3>
		<h6 id="errore_msg"></h6> <!--js (form_valida.js)-->
		<div class="container">

			<div class="row">

                <!-- COMMENTO DA MODIFICARE --> 
				<form encType="multipart/form-data" class="row g-3 needs-validation" action="http://localhost:3002/loguser" method="post" novalidate>
						
                    <!-- EMAIL -->
					<div class="col-md-4">
						<label for="email" class="form-label">Email*</label>
						<input type="email" id="email" name="email" class="form-control" required>
						<div class="valid-feedback">
						    OK
						</div>
						<div class="invalid-feedback">
						    Devi fornire un indirizzo e-mail valido.
						</div>
					</div>
					
                    <!--
					<div class="col-md-4">
						<label for="email" class="form-label" hidden>Email*</label>
						<input type="email" id="email" name="email" class="form-control" hidden>
					</div>
                    -->

					<!-- PASSWORD -->
					<div class="col-md-4">
						<label for="pass" class="form-label">Password*</label>
						<input type="password" id="password" name="password" class="form-control" required>
						<div class="valid-feedback">
						    Perfetto!
						</div>
						<div class="invalid-feedback">
						    Devi fornire la password collegata al tuo account.
						</div>
						</div>
						
					<div class="col-12">
						<button class="btn btn-lg accedi_btn">Accedi</button>
					</div>
				</form>
			</div>

		</div>
        <!-- UTILE? -->
		<h3 class="hspace_mc_btm">&nbsp;</h3>
	</main>  
	<%- include('partials/footer'); -%>