<%- include('partials/head', { active: "home" }); -%>
<%- include('partials/navbar'); -%>

  <body class="corpo">

    <nav class="navbar navbar-expand-xl navbar-dark bg-dark fixed-top menu_normale" id="menu_uniforme"></nav>

  <!-- CONTENUTO PRINCIPALE -->
	<main>

		<h3 class="hspace_mc">&nbsp;</h3>

		<!--
		< % if (message.length > 0) { %>
			<div class="alert alert-primary" role="alert">
				<p>
					< %= message %>
				</p>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		< % } %>
		-->
		
		<% if (message.length > 0) { %>
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
				<p>
					<%= message %>
				</p>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		<% } %>
		
		<div id="alertResizing">
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
				<strong>Holy guacamole!</strong> You should check in on some of those fields below.
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>

		<!-- REGISTRAZIONE DI UN UTENTE (cliente) -->
		<h3 class="hspace h_btm_spec"><cite title="Source Title"> Effettua il login </cite></h3>

		<div class="container">
			<div class="form-group">
				<div class="col-md-6 mx-auto">
					<form encType="multipart/form-data" class="row g-3 needs-validation" id="formLogin" action="/login" method="POST"> <!-- Tolgo? encType="multipart/form-data" -->
							
						<!-- EMAIL -->
						<div>
							<label for="email" class="form-label">Email*</label>
							<input type="email" class="form-control" id="email" name="email" placeholder="Inserisci Email" required>
							<span class="text-danger" id="validazione-email"></span>
						</div>

						<!-- PASSWORD -->
						<div>
							<label for="password" class="form-label">Password*</label>
							<input type="password" class="form-control" id="password" name="password" placeholder="Inserisci Password" required>
							<span class="text-danger" id="validazione-password"></span>
						</div>
							
						<div class="col-12">
							<button class="btn btn-lg accedi_btn" id="accedi_btn">Accedi</button>
						</div>

					</form>
				</div>
			</div>
		</div>

        <!-- UTILE? -->
		<h3 class="hspace_mc_btm">&nbsp;</h3>
	</main>  
	<%- include('partials/footer'); -%>