<%- include('partials/head') -%>
<%- include('partials/navbar', { active: "personale" }); -%>
  <body>
        <!-- CONTENUTO PRINCIPALE -->
	<main>

		<div class="container">
			<h3 class="spaziaturaTitolo" id="fond"><cite title="Source Title">Il nostro personale tecnico</cite></h3>
      <!-- js 
			<h5 id="haicercato"></h5>
					<div class="row" id="listadip_row"></div>
            <h3 class="hspace_bottom"></h3>
		      </div>
      -->

	</main>
<%- include('partials/footer'); -%>      