<%- include('partials/head', { active: "home" }); -%>
<%- include('partials/navbar'); -%>
    <!-- <meta name="format-detection" content="telephone=no"> --> 

<body>

  <!-- CONTENUTO PRINCIPALE -->
	<main>

		<!-- REGISTRAZIONE DI UN UTENTE (personale) -->
		<h3 class="hspace_mc">&nbsp;</h3>
		<h3 class="hspace h_btm_spec"> <cite title="Source Title">Registrazione di un membro del personale</cite> </h3>
		
		<div class="container">

			<div class="row">

				<!-- COMMENTO DA MODIFICARE  --> 
				<form encType="multipart/form-data" id="regdip" class="row g-3 needs-validation" action="http://localhost:3003/regPersonale" method="post" novalidate> <!-- lasciare encType="multipart/form-data" xke ce immagine-->
				
					<!-- NOME -->
					<div class="col-md-4">
					<label for="nome" class="form-label">Nome*</label>
					<input type="text" class="form-control" id="nome" name="nome" minlength="1" required>
					<div class="valid-feedback">
						OK
					</div>
					<div class="invalid-feedback">
						Devi fornire un nome valido di almeno un carattere.
					</div>
					</div>

					<!-- COGNOME -->
					<div class="col-md-4">
					<label for="cognome" class="form-label">Cognome*</label>
					<input type="text" class="form-control" id="cognome" name="cognome" minlength="1" required>
					<div class="valid-feedback">
						OK
					</div>
					<div class="invalid-feedback">
						Devi fornire un cognome valido di almeno un carattere.
					</div>
					</div>

					<!-- EMAIL -->
					<div class="col-md-4">
						<label for="email" class="form-label">Email*</label>
						<input type="email" id="email" name="email" class="form-control" required>
						<div class="valid-feedback">
                            OK
						</div>
						<div class="invalid-feedback">
						Devi fornire un indirizzo e-mail valido.
						</div>
					</div>

					<!-- PASSWORD -->
					<div class="col-md-4">
						<label for="pass" class="form-label">Password*</label>
						<input type="password" id="pass" name="pass" class="form-control" minlength="4" required>
						<div class="valid-feedback">
                            OK
						</div>
						<div class="invalid-feedback">
						Devi fornire una password di almeno 4 caratteri.
						</div>
					</div>
                   
					<!-- TELEFONO -->
					<div class="col-md-4">
						<label for="tel" class="form-label">Telefono</label>
						<input type="tel" id="tel" name="tel" class="form-control" pattern = "^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$">
                        <div class="valid-feedback">
                            OK
                        </div>
                        <div class="invalid-feedback">
                            Devi fornire un telefono valido, nel formato corretto (10 cifre).
                        </div>
                    </div>

                    <!-- FOTO PERSONALE (opzionale) (per la lista del personale) -->
                    <div class="col-md-4">
                        <label for="dipimg" class="form-label">Se ti va, carica una tua foto (.jpg)</label>
                        <input type="file" name="dipimg" accept="image/jpeg" id="dipimg" value="0" />
                    </div>

					<!-- TERMINI e CONDIZIONI & SUBMIT FORM-->
					<div class="col-12">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
						<label class="form-check-label" for="invalidCheck">
						<a href="pdf/GDPR.pdf" id="termcondiz" style="color: black;" target="_blank">Termini &amp; Condizioni</a>
						- Accettazione consenso sui dati GDPR della privacy
						</label>
						<div class="invalid-feedback">
						Devi accettare prima di poter procedere.
						</div>
					</div>
					</div>
					<div class="col-12">
					<button class="btn btn-lg registrati_btn">Registrati</button>
					</div>
				</form>
				</div>
		
		</div>
        <!-- UTILE? -->
		<h3 class="hspace_mc_btm">&nbsp;</h3>
	</main>
<%- include('partials/footer'); -%>