<%- include('partials/head') -%>
<%- include('partials/navbar', { active: "vediOrdini" }); -%>

<body>
        
	<main>

		<div class="container">
			<h3 class="spaziaturaTitolo" id="fond"><cite title="Source Title">I nostri ordini</cite></h3>

			<% if (message.length > 0) { %>
				<div class="alert alert-warning alert-dismissible fade show alertResizing" align="center" role="alert">
					<p>
						<%= message %>
					</p>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			<% } %>
		</div>

	</main>
<%- include('partials/footer'); -%>     